In [1]:
import pandas as pd

In [26]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows = 100)

In [4]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [5]:
from sqlalchemy import create_engine

In [18]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [17]:
print(pd.io.sql.get_schema(df, name = 'yellow_taxy_data', con = engine))

CREATE TABLE yellow_taxy_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [25]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2021-01-01 00:12:41,2021-01-01 00:26:47,1,4.13,1,N,161,226,1,14.5,0.5,0.5,3.66,0.0,0.3,21.96,2.5
96,2,2021-01-01 00:23:29,2021-01-01 00:35:03,2,4.12,1,N,162,74,2,13.5,0.5,0.5,0.00,0.0,0.3,17.30,2.5
97,2,2021-01-01 00:46:17,2021-01-01 00:54:25,2,2.22,1,N,144,170,1,9.0,0.5,0.5,2.56,0.0,0.3,15.36,2.5
98,2,2021-01-01 00:28:16,2021-01-01 00:51:44,1,7.11,1,N,264,264,2,23.5,0.5,0.5,0.00,0.0,0.3,24.80,0.0
99,2,2021-01-01 00:42:35,2021-01-01 00:54:41,3,1.61,1,N,229,237,2,9.5,0.5,0.5,0.00,0.0,0.3,13.30,2.5

In [28]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=10000)

In [29]:
df = next(df_iter)

In [30]:
len(df)

10000

In [31]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [32]:
df.head(n=5)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [34]:
df.head(n=0).to_sql(name='yellow_taxy_data', con=engine, if_exists='replace')

1000

In [35]:
%time df.to_sql(name='yellow_taxy_data', con=engine, if_exists='append')

CPU times: total: 1.34 s
Wall time: 2 s

1000

In [37]:
from time import time

In [38]:
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

    df.to_sql(name='yellow_taxy_data', con=engine, if_exists='append')

    t_end = time()

    print('Inserted another chunk, tool %.3f second' % (t_end - t_start))

Inserted another chunk, tool 1.908 second
Inserted another chunk, tool 2.249 second
Inserted another chunk, tool 1.979 second
Inserted another chunk, tool 2.129 second
Inserted another chunk, tool 2.238 second
Inserted another chunk, tool 1.880 second
Inserted another chunk, tool 1.998 second
Inserted another chunk, tool 2.054 second
Inserted another chunk, tool 2.059 second
Inserted another chunk, tool 2.070 second
Inserted another chunk, tool 2.014 second
Inserted another chunk, tool 2.071 second
Inserted another chunk, tool 2.251 second
Inserted another chunk, tool 2.528 second
Inserted another chunk, tool 2.107 second
Inserted another chunk, tool 2.246 second
Inserted another chunk, tool 2.219 second
Inserted another chunk, tool 2.134 second
Inserted another chunk, tool 2.128 second
Inserted another chunk, tool 2.789 second
Inserted another chunk, tool 2.040 second
Inserted another chunk, tool 2.022 second
Inserted another chunk, tool 2.352 second
Inserted another chunk, tool 1.979 second
Inserted another chunk, tool 2.023 second
Inserted another chunk, tool 3.085 second
Inserted another chunk, tool 2.242 second
Inserted another chunk, tool 2.380 second
Inserted another chunk, tool 2.236 second
Inserted another chunk, tool 2.640 second
Inserted another chunk, tool 2.323 second
Inserted another chunk, tool 2.807 second
Inserted another chunk, tool 2.006 second
Inserted another chunk, tool 2.148 second
Inserted another chunk, tool 2.015 second
Inserted another chunk, tool 2.094 second
Inserted another chunk, tool 1.973 second
Inserted another chunk, tool 3.093 second
Inserted another chunk, tool 2.018 second
Inserted another chunk, tool 2.072 second
Inserted another chunk, tool 1.912 second
Inserted another chunk, tool 2.072 second
Inserted another chunk, tool 2.020 second
Inserted another chunk, tool 1.934 second
Inserted another chunk, tool 1.581 second
Inserted another chunk, tool 1.638 second
Inserted another chunk, tool 1.910 second
Inserted another chunk, tool 2.076 second
Inserted another chunk, tool 2.241 second
Inserted another chunk, tool 2.032 second
Inserted another chunk, tool 2.079 second
Inserted another chunk, tool 1.945 second
Inserted another chunk, tool 2.127 second
Inserted another chunk, tool 2.371 second
Inserted another chunk, tool 2.269 second
Inserted another chunk, tool 1.811 second
Inserted another chunk, tool 2.244 second
Inserted another chunk, tool 2.378 second
Inserted another chunk, tool 2.443 second
Inserted another chunk, tool 2.140 second
Inserted another chunk, tool 2.104 second
Inserted another chunk, tool 2.292 second
Inserted another chunk, tool 2.035 second
Inserted another chunk, tool 2.304 second
Inserted another chunk, tool 1.948 second
Inserted another chunk, tool 1.910 second
Inserted another chunk, tool 1.967 second
Inserted another chunk, tool 2.016 second
Inserted another chunk, tool 1.807 second
Inserted another chunk, tool 1.969 second
Inserted another chunk, tool 1.859 second
Inserted another chunk, tool 2.270 second
Inserted another chunk, tool 2.109 second
Inserted another chunk, tool 2.036 second
Inserted another chunk, tool 2.046 second
Inserted another chunk, tool 2.106 second
Inserted another chunk, tool 1.995 second
Inserted another chunk, tool 2.119 second
Inserted another chunk, tool 2.131 second
Inserted another chunk, tool 2.017 second
Inserted another chunk, tool 3.230 second
Inserted another chunk, tool 2.117 second
Inserted another chunk, tool 2.089 second
Inserted another chunk, tool 1.871 second
Inserted another chunk, tool 2.207 second
Inserted another chunk, tool 2.006 second
Inserted another chunk, tool 1.919 second
Inserted another chunk, tool 1.687 second
Inserted another chunk, tool 2.638 second
Inserted another chunk, tool 2.192 second
Inserted another chunk, tool 2.526 second
Inserted another chunk, tool 2.069 second
Inserted another chunk, tool 2.168 second
Inserted another chunk, tool 2.074 second
Inserted another chunk, tool 1.748 second
Inserted another chunk, tool 2.120 second
Inserted another chunk, tool 1.774 second
Inserted another chunk, tool 1.661 second
Inserted another chunk, tool 2.307 second
Inserted another chunk, tool 2.407 second
Inserted another chunk, tool 1.929 second
Inserted another chunk, tool 3.499 second
Inserted another chunk, tool 5.111 second
Inserted another chunk, tool 2.785 second
Inserted another chunk, tool 2.561 second
Inserted another chunk, tool 2.395 second
Inserted another chunk, tool 1.878 second
Inserted another chunk, tool 2.301 second
Inserted another chunk, tool 1.719 second
Inserted another chunk, tool 1.996 second
Inserted another chunk, tool 3.087 second
Inserted another chunk, tool 2.374 second
Inserted another chunk, tool 1.787 second
Inserted another chunk, tool 2.568 second
Inserted another chunk, tool 2.160 second
Inserted another chunk, tool 1.570 second
Inserted another chunk, tool 3.525 second
Inserted another chunk, tool 2.221 second
Inserted another chunk, tool 1.989 second
Inserted another chunk, tool 2.136 second
Inserted another chunk, tool 2.071 second
Inserted another chunk, tool 1.862 second
Inserted another chunk, tool 2.851 second
Inserted another chunk, tool 2.339 second
Inserted another chunk, tool 2.148 second
Inserted another chunk, tool 2.047 second
Inserted another chunk, tool 1.850 second
Inserted another chunk, tool 2.151 second
Inserted another chunk, tool 1.730 second
Inserted another chunk, tool 2.425 second
Inserted another chunk, tool 2.063 second
Inserted another chunk, tool 2.293 second
Inserted another chunk, tool 1.756 second
Inserted another chunk, tool 2.010 second
Inserted another chunk, tool 1.868 second
Inserted another chunk, tool 1.423 second

StopIteration: